@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./assets/fonts/MontserratAlternates-Medium.ttf') format('truetype');
}

html {
    font-family: 'Montserrat';
}

body {
    @apply dark:text-white
}

.bg-site {
    @apply bg-white dark:bg-gray-900
}

.bg-content {
    @apply bg-blue-50 dark:bg-gray-800
}

.bg-primary {
    @apply bg-blue-200 dark:bg-gray-800
}

.bg-secondary {
    @apply bg-blue-300 dark:bg-gray-700
}

.hover-bg-primary {
    @apply hover:bg-blue-300 dark:hover:bg-gray-700
}

.hover-bg-secondary {
    @apply hover:bg-blue-400 dark:hover:bg-gray-600
}

h1 {
    @apply xl:text-4xl lg:text-3xl md:text-2xl text-xl font-bold
}

h2 {
    @apply xl:text-3xl lg:text-2xl md:text-xl text-lg font-bold
}

h3 {
    @apply xl:text-2xl lg:text-xl md:text-lg font-bold
}

.content-width {
    @apply xl:max-w-screen-xl
}